prog_algs
prog_models
dt
data
wandb
weights
env/
*.egg-info
*/.ipynb_checkpoints/*
outputs/*
old/*
*.pyc
multirun/*
experiments/*
multirun_dataset/*
outputs_dataset/*
multirunv2/*
output_dataset_v2/*
weights
GoogleDrive/
random_constant_loading_TRAINING_hash
*.7z
test_models/*
test_dataset/*
notebooks/sim2real.pdf
notebooks/sim2real2.pdf
*.pyc
*.pdf
zip/*
*.pt
venv/*
runs/*
dataset/